.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 1px #f4f4f4; /* box-shadow: h-offset v-offset blur spread color inset;  */
}

.primary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}

.primary-navbar .logo {
  height: 32px;
}

.primary-navbar .link-container {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 24px;
}

.primary-navbar .link-container a {
  padding: 2px 6px;
  color: darkslategray;
  text-decoration: none;
}

.link-container a.active,
.link-container a:hover {
  color: var(--primary-color);
  font-weight: 500;
}

.link-container a.active {
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-radius: 6px;
}

.primary-navbar .right a {
}
